# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Block Breaker.iml
# Datasource local storage ignored files
/../../../../../../../../:\Unity\Projects\Udemy\Block Breaker\.idea\.idea.Block Breaker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
